.podnatie0100{
  animation-name: podnatie0100;
}
@keyframes podnatie0100{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -367%, 0);
}
}

.podnatie0200{
  animation-name: podnatie0200;
}
@keyframes podnatie0200{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -481%, 0);
}
}
.podnatie0300{
  animation-name: podnatie0300;
}
@keyframes podnatie0300{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -554%, 0);
}
}

.podnatie0400{
  animation-name: podnatie0400;
}
@keyframes podnatie0400{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -654%, 0);
}
}

.podnatie001{
animation-name: podnatie001
}
@keyframes podnatie001{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -103%, 0);
}
}

.podnatie002{
animation-name: podnatie002
}
@keyframes podnatie002{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -186%, 0);
}
}
.podnatie003{
animation-name: podnatie003
}
@keyframes podnatie003{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -195%, 0);
}
}
.podnatie004{
animation-name: podnatie004
}
@keyframes podnatie004{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -386%, 0);
}
}
.podnatie005{
animation-name: podnatie005
}
@keyframes podnatie005{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -486%, 0);
}
}

.podnatie006{
animation-name: podnatie006
}
@keyframes podnatie006{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -586%, 0);
}
}

.podnatie007{
animation-name: podnatie007
}
@keyframes podnatie007{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -686%, 0);
}
}
.podnatie008{
animation-name: podnatie008
}
@keyframes podnatie008{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -786%, 0);
}
}
.podnatie009{
animation-name: podnatie009
}
@keyframes podnatie009{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -886%, 0);
}
}
.podnatie010{
animation-name: podnatie010
}
@keyframes podnatie010{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -986%, 0);
}
}
.podnatie010{
animation-name: podnatie011
}
@keyframes podnatie011{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -1086%, 0);
}
}

.podnatie0031{
	animation-name: podnatie0031;
}
@keyframes podnatie0031{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -296%, 0);
}
}
.sdivg2{
    animation-name: sdivg2;
}
@keyframes sdivg2{
0% {
    left:0%;
}
100% {
    left:-9%;
}
}

.podnatie0032{
    animation-name: podnatie0032;
}
@keyframes podnatie0032{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -383%, 0);
}
}
.podnatie0033{
    animation-name: podnatie0033;
}
@keyframes podnatie0033{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -344%, 0);
}
}

.podnatie0034{
    animation-name: podnatie0034;
}
@keyframes podnatie0034{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -124%, 0);
}
}
.podnatie0035{
    animation-name: podnatie0035;
}
@keyframes podnatie0035{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -235%, 0);
}
}

.podnatie0036{
    animation-name: podnatie0035;
}
@keyframes podnatie0035{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -253%, 0);
}
}

.podnatie0037{
    animation-name: podnatie0037;
}
@keyframes podnatie0037{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -353%, 0);
}
}

.podnatie0038{
    animation-name: podnatie0038;
}
@keyframes podnatie0038{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -553%, 0);
}
}

.podnatie0039{
    animation-name: podnatie0039;
}
@keyframes podnatie0039{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -453%, 0);
}
}

.podnatie0040{
    animation-name: podnatie0040;
}
@keyframes podnatie0040{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -235%, 0);
}
}

.podnatie0041{
    animation-name: podnatie0041;
}
@keyframes podnatie0041{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
}
}

.podnatie0042{
    animation-name: podnatie0042;
}
@keyframes podnatie0042{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -270%, 0);
}
}

.podnatie0043{
    animation-name: podnatie0043;
}
@keyframes podnatie0043{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -228%, 0);
}
}

.podnatie0044{
    animation-name: podnatie0044;
}
@keyframes podnatie0044{
0% {
    opacity: 0;
}
100% {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}
}

.podnatie0045{
    animation-name: podnatie0045;
}
@keyframes podnatie0045{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -205%, 0);
}
}

.podnatie0046{
    animation-name: podnatie0046;
}
@keyframes podnatie0046{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -210%, 0);
}
}

.podnatie0047{
    animation-name: podnatie0042;
}
@keyframes podnatie0042{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -108%, 0);
}
}

.podnatie0048{
    animation-name: podnatie0048;
}
@keyframes podnatie0048{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -150%, 0);
}
}
.podnatie0049{
    animation-name: podnatie0049;
}
@keyframes podnatie0049{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -255%, 0);
}
}

.podnatie0050{
    animation-name: podnatie0050;
}
@keyframes podnatie0050{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -360%, 0);
}
}

.podnatie0051{
    animation-name: podnatie0051;
}
@keyframes podnatie0051{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -310%, 0);
}
}

.podnatie0052{
    animation-name: podnatie0052;
}
@keyframes podnatie0052{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -465%, 0);
}
}

.podnatie0053{
    animation-name: podnatie0053;
}
@keyframes podnatie0053{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -290%, 0);
}
}

.podnatie0054{
    animation-name: podnatie0054;
}
@keyframes podnatie0054{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -115%, 0);
}
}

.podnatie0055{
    animation-name: podnatie0055;
}
@keyframes podnatie0055{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -175%, 0);
}
}

.podnatie0056{
    animation-name: podnatie0056;
}
@keyframes podnatie0056{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -295%, 0);
}
}

.podnatie0057{
    animation-name: podnatie0057;
}
@keyframes podnatie0057{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -348%, 0);
}
}

.podnatie003_{
animation-name: podnatie003_
}
@keyframes podnatie003_{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -207%, 0);
}
}
.podnatie004_{
animation-name: podnatie004_
}
@keyframes podnatie004_{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -307%, 0);
}
}

.podnatie004_{
animation-name: podnatie004_
}
@keyframes podnatie004_{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -413%, 0);
}
}

.podnatie005_{
animation-name: podnatie005_
}
@keyframes podnatie005_{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -516%, 0);
}
}

.podnatie006_{
animation-name: podnatie006_
}
@keyframes podnatie006_{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -616%, 0);
}
}

.podnatie007_{
animation-name: podnatie007_
}
@keyframes podnatie007_{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -713%, 0);
}
}

.podnatie008_{
animation-name: podnatie008_
}
@keyframes podnatie008_{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -814%, 0);
}
}

.podnatie009_{
animation-name: podnatie009_
}
@keyframes podnatie009_{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -914%, 0);
}
}

.podnatie002_{
animation-name: podnatie002_
}
@keyframes podnatie002_{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -212%, 0);
}
}

.podnatie0031_{
    animation-name: podnatie0031_;
}
@keyframes podnatie0031_{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -312%, 0);
}
}

.podnatie002_{
animation-name: podnatie002_
}
@keyframes podnatie002_{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -206%, 0);
}
}

.podnatie001_1{
animation-name: podnatie001_1
}
@keyframes podnatie001_1{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -286%, 0);
}
}

.podnatie002_2{
animation-name: podnatie002_2
}
@keyframes podnatie002_2{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -146%, 0);
}
}

.podnatie003_3{
animation-name: podnatie003_3
}
@keyframes podnatie003_3{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -216%, 0);
}
}

.podnatie0039_1{
    animation-name: podnatie0039_1;
}
@keyframes podnatie0039_1{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -233%, 0);
}
}
.podnatie0057__{
    animation-name: podnatie0057__;
}
@keyframes podnatie0057__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -300%, 0);
}
}

.podnatie0058__{
    animation-name: podnatie0058__;
}
@keyframes podnatie0058__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -200%, 0);
}
}

.podnatie0059__{
    animation-name: podnatie0059__;
}
@keyframes podnatie0059__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    transform: translate3d(0, -330%, 0);
}
}

.podnatie004__{
animation-name: podnatie004__
}
@keyframes podnatie004__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -307%, 0);
}
}

.podnatie003_1_{
    animation-name: podnatie003_1_;
}
@keyframes podnatie003_1_{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -603%, 0);
}
}

.podnatie00_1__{
animation-name: podnatie00_1__
}
@keyframes podnatie00_1__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -93%, 0);
}
}

.podnatie00_2__{
animation-name: podnatie00_2__
}
@keyframes podnatie00_2__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -187%, 0);
}
}

.podnatie00_3__{
animation-name: podnatie00_3__
}
@keyframes podnatie00_3__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -282%, 0);
}
}

.podnatie00_4__{
animation-name: podnatie00_4__
}
@keyframes podnatie00_4__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -377%, 0);
}
}

.podnatie00_5__{
animation-name: podnatie00_5__
}
@keyframes podnatie00_5__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -472%, 0);
}
}

.podnatie00_6__{
animation-name: podnatie00_6__
}
@keyframes podnatie00_6__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -400%, 0);
}
}

.podnatie00_7__{
animation-name: podnatie00_7__
}
@keyframes podnatie00_7__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -410%, 0);
}
}

.podnatie01_1__{
animation-name: podnatie01_1__
}
@keyframes podnatie01_1__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -163%, 0);
}
}

.podnatie02_2__{
animation-name: podnatie02_2__
}
@keyframes podnatie02_2__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -270%, 0);
}
}

.podnatie03_3__{
animation-name: podnatie03_3__
}
@keyframes podnatie03_3__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -376%, 0);
}
}

.podnatie04_4__{
animation-name: podnatie04_4__
}
@keyframes podnatie04_4__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -482%, 0);
}
}

.podnatie05_5__{
animation-name: podnatie05_5__
}
@keyframes podnatie05_5__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -588%, 0);
}
}

.podnatie06_6__{
animation-name: podnatie06_6__
}
@keyframes podnatie06_6__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -694%, 0);
}
}

.podnatie07_7__{
animation-name: podnatie07_7__
}
@keyframes podnatie07_7__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -800%, 0);
}
}

.podnatie08_8__{
animation-name: podnatie08_8__
}
@keyframes podnatie08_8__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -906%, 0);
}
}

.podnatie09_9__{
animation-name: podnatie09_9__
}
@keyframes podnatie09_9__{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -1002%, 0);
}
}

.podnatie004_1_1{
animation-name: podnatie004_1_1
}
@keyframes podnatie004_1_1{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -186%, 0);
}
}

.podnatie004_1_2{
animation-name: podnatie004_1_2
}
@keyframes podnatie004_1_2{
0% {
    opacity: 1;
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -450%, 0);
    transform: translate3d(0, -276%, 0);
}
}